<nav>
  <img
    src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
    alt="logo"
  />
  <ul>
    <li> <a href="#">Home</a> </li>
    <li> <a href="#">About</a> </li>
    <li> <a href="#">login</a> </li>
  </ul>
  
</nav>
<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
  
</p>
<ngb-accordion #acc="ngbAccordion">
	<ngb-panel id="toggle-1" title="First panel">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel id="toggle-2" title="Second">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
</ngb-accordion>

<hr />

<button class="btn btn-sm btn-outline-primary me-2" (click)="acc.toggle('toggle-1')">Toggle first</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="acc.toggle('toggle-2')">Toggle second</button>
<h2>Basic form</h2>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)" class="m-5 p-2 col-5 border">
	<input type="text" ngModel name="name" placeholder="enter user name" id="name">
	<br/>
	<input type="text" ngModel name="email" placeholder="enter user email" id="email">
	<br/>
	<input type="password" ngModel name="password" placeholder="enter user password" id="password">
	<br/>
	<button type="submit">Submit</button>
</form>
<p>{{userData.name}}</p>
<p>{{userData.email}}</p>
<p>{{userData.password}}</p>