<!-- <app-header>
    
</app-header> -->
<!-- <app-todo></app-todo> -->

<!-- send data to child component strat -->
<!-- <app-child [xyz]="dd"></app-child>
<button (click)="changeValue()" > change value</button> -->
<!-- send data to child component end -->

<!-- reuseable component  start -->
<!-- <ul *ngFor="let user of userDetails">
  <app-user-detail [item]="user" ></app-user-detail>
</ul> -->
<!-- reuseable component  end -->

<!-- two way binding  start -->
<!-- 
<h1>Two way binding </h1>
<input type="text" placeholder="enter your name" [(ngModel)]="way2" >
{{way2}} -->
<!-- two way binding  end -->

<!-- template reference variable start -->
<!-- <h1>template reference variable</h1>
<input type="text" #box placeholder="enter ur name" />

<button (click)="getTemplateReference(box)" >call function</button> -->
<!-- template reference variable end -->

<!-- pipes in angular start -->
<h1>Pipes</h1>
{{pipe |uppercase}}
<br/>
{{pipe2 |lowercase}}
<br/>
Date
{{pipe3Date}}
<br/>

Date by pipe
{{pipe3Date|date :'fullDate'}}
slice <br/>
{{'hellooo'|slice :1:6}}
<!-- pipes in angular end -->



<!-- <p *ngIf="show; else el">hello</p>
<ng-template #el>
  <p>else</p>
</ng-template>

<button (click)="getEvent()">click</button>
<p *ngIf="show2 == true; then two; else three">hello212345678</p>

<p *ngFor="let item of names">{{item}} </p>
<ng-template #two>
  <button>approve</button>
</ng-template>
<ng-template #three>
  <button>submit</button>
</ng-template>

<input type="text" #color (keyup)="getColor(color.value)" />
<button (click)="setColor(color.value)">change color</button>
<p>hello</p>
<div [ngSwitch]="color1">
  <h1 *ngSwitchCase="'red'" style="color: red">Red</h1>
  <h1 *ngSwitchCase="'green'" style="color: green">green</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue">blue</h1>
  <h1 *ngSwitchDefault style="color: black">default</h1>
</div>
<app-login></app-login>
-->
<ul *ngFor="let items of products.products">
  <li>{{items.title}} </li>
</ul>
<router-outlet></router-outlet> 